<div id="<%= dom_id standup %>" class="w-96 block p-6 bg-white rounded-lg border border-gray-200 shadow-md">
  <div>
    <div class="float-right">
      <%= link_to edit_standup_path(standup) do %>
        <%= heroicon "pencil-square", class: 'inline' %>
      <% end %>
    </div>
    <h3 class="font-bold leading-tight text-gray-900 text-xl"><%= standup_header standup%></h3>
  </div>
  <h4 class="mt-4 font-bold leading-tight text-gray-900 text-lg">Dids</h4>
  <ul>
    <% standup.dids.each do |did| %>
      <li class="bg-gray-300 border border-gray-100 p-2 rounded shadow-sm"> <%= did.title %> </li>
    <% end %>
  </ul>

  <h4 class="mt-4 font-bold leading-tight text-gray-900 text-lg">Todos</h4>
  <ul>
    <% standup.todos.each do |todo| %>
      <li class="bg-gray-300 border border-gray-100 p-2 rounded shadow-sm"> <%= todo.title %> </li>
    <% end %>
  </ul>

  <h4 class="mt-4 font-bold leading-tight text-gray-900 text-lg">Blockers</h4>
  <ul>
    <% standup.blockers.each do |blocker| %>
      <li class="bg-gray-300 border border-gray-100 p-2 rounded shadow-sm"> <%= blocker.title %> </li>
    <% end %>
  </ul>
</div>
