<div class="flex nested-<%= f.object.class.name.downcase %>" data-new-record="<%= f.object.new_record? %>">
  <%= f.text_field :title, class: 'inline bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 my-1', placeholder: placeholder %>
  <span class="input-group-append">
    <button type="button" class="ml-2 align-middle inline text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2" data-action="nested-form#remove">
      <%= heroicon 'trash', class: 'inline'%>
    </button>

    <%= f.hidden_field :_destroy %>
  </span>
</div>